<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Settings</title>
  </head>
  <body>
    <h2>This is the settings page. Its coming soon</h2>

    <form action="/settings" method="post">
      <input
        type="text"
        name="test"
        id="test"
        placeholder="Enter the max. temp for alert"
      />
      <input type="submit" name="test" />
    </form>
  </body>
</html>
